body {
  margin: 0
}

.rover-video {
  max-width: 100%;
  max-height: 100%;
}

.main-split-panel {
  height: 100vh;

  [slot="start"] {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  [slot="end"] {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
  }
}
