body {
  margin: 0
}



.main-split-panel {
  height: 100vh;

  [slot="start"] {
    display: flex;
    overflow: hidden;

    .display-container {
      align-self: flex-start;
      flex: max-content;
      height: 100%;
      position: relative;

      .video-container {
        width: 100%;
        bottom: 0px;
        position: absolute;

        .rover-video {
          width: 100%;
          position: relative;
          left: 0;
          bottom: 0;
        }

        .hud {
          width: 70%;
          height: 70%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .virtual-joystick-container {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }

  [slot="end"] {
    align-items: center;
  }
}
